/* 共通布局 */
html, body {
  width: 100%;
  overflow-x: hidden;
}

.wrap {
  margin: 0 auto;
  font-family: $font-family;
  a {
    text-decoration: none;
  }
}
.clearfix:after{
  content: '';
  display: table;
  clear: both;
}

/* header */
.header {
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding: 0 14%;
  border: $gray-dark solid 1px;
  @include rwd($xl){
    padding: 0 9%;
  }
  @include rwd($md) {
    padding: 0 4%;
    height: 60px;
  }
}
.logo {
  font-size: $font-l;
  color: $primary-color;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.link {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 5%;
  @include rwd($xl){
    margin-right: 0%;
  }
  a {
    padding: 5px;
    margin: 7px;
    font-size: $font-s;
    color: $gray-dark;
    @include rwd($md) {
      display: none;
    }
    &:hover {
       color: $primary-color;
    } 
  }
  .sign-up {
    @include rwd($lg) {
      margin-right: 15px;
    } 
  }
}
.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}
#cart-toggle:checked ~ .cart-list {
  transform: translateX(0);
}
#cart-toggle:checked ~ .cart-overlay {
  opacity: 1;
  visibility: visible;
}
.no-scroll {
  overflow: hidden;
  height: 100%;
}
.cart-icon {
  position: absolute;
  top: 23px;
  right: 14%;
  cursor: pointer;
  color: $dark;
  display: flex;
  padding: 5px;
  margin-right: 1%;
  @include rwd($xl){
    right: 2%;
    margin-right: 4%;
  }
  @include rwd($md) {
    top: 13px;
  }
}
.num{
  position: absolute;
  top: -4px;
  right: -4px;
  font-size: 12px;
  background: $accent-color;
  width: 24px;
  height: 17px;
  border-radius: 45%;
  text-align: center;
  color: $white;
  padding-top: 3px;
}
.cart-list {
  width: 540px;
  background: $dark;
  padding: 32px 16px 24px 32px;
  overflow-y: auto;
  z-index: 10;
  position: fixed;
  top: 80px;
  right: 0;
  max-width: 100%;
  transform: translateX(100%);
  transition: transform 0.8s cubic-bezier(0.22, 1, 0.36, 1);
  @include rwd($md) {
    width: 375px;
    padding: 20px 8px 28px 15px;
    top: 60px;
    right: 0 !important;
    transform: translateX(100%);
  }
  h2 {
    color: $white;
    font-weight: bold;
    font-size: $font-xxl;
    margin-bottom: 12px;
  }
  .cart-list-area {
    height: 530px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 16px;
    @include rwd($md) {
      padding-right: 5px;
      height: 390px;
    }
    &::-webkit-scrollbar {
      width: 2px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 0%;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background: $accent-color;
    }
    &::-webkit-scrollbar {
      background: $gray;
    }
  }
  .scroll-card {
    margin-bottom: 12px;
  }
  .cart-list-item {
    background: $white;
    
    border-radius: 3px;
    @include rwd($md) {
      margin-bottom: 8px;
    }
    span {
      cursor: pointer;
    }
    .show-item {
      display: flex;
      justify-content: space-between;
      padding: 0 32px 24px 32px;
      @include rwd($md) {
        padding: 0 16px 16px 16px;
      }
    }
    .show-pic {
      width: 120px;
      height: 120px;
      object-fit: cover;
    }
    .show-title {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-size: $font-s;
      padding-right: 33px;
      @include rwd($md) {
        padding-right: 0;
      }
      h3 {
        font-weight: bold;
      }
      h4 {
        font-weight: 500;
      }
      p {
        color: $gray-dark;
      }
      h5 {
        font-weight: bold;
      }
    }
    .show-num {
      display: flex;
      align-items: center;
      font-weight: bold;
      @include rwd($md) {
        flex-direction: column-reverse;
        justify-content: center;
        padding-left: 5px;
      }
      p {
        padding: 0 12px;
        @include rwd($md) {
          padding: 5px 0;
        }
      }
      img {
        cursor: pointer;
      }
    }
  }
  .cart-list-count {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    font-size: $font-m;
    span {
      padding-left: 24px;
    }
    .btn-pay {
      @include button-variant($primary-color, $white, $white);
      width: 118px;
      height: 44px;
    }
  }
}
