.nav-bar {
  height: 52px;
  border-bottom: $gray-dark solid 1px;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  @include rwd($md) {
    overflow-x: scroll;
    justify-content: flex-start;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .nav {
    display: flex;
    align-items: center;
    a {
      padding: 5px 16px;
      margin: 0 8px;
      font-size: $font-s;
      color: $gray-dark; 
      &:hover{
        border-bottom: $pink solid 2px;
      }
    }
  }
}