$dark: #000000;
$gray-dark: #707070;
$gray-light: #efefef;
$gray: #CED4DA;
$white: #ffffff;
$purple: #630834;
$pink: #e31277;

$body-bg: $white;
$primary-color: $purple;
$accent-color: $pink;
$text-color: $dark;

$font-family: Roboto, Noto Sans TC;

$font-s: 16px;
$font-m: $font-s * 1.25; // 20
$font-l: $font-s * 1.5; // 24
$font-xl: $font-s * 1.75; //28
$font-xxl: $font-s * 2; // 32